<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">

  
  <header class="header">
    <img class="logo" src="images/logo.svg" alt="Cestovka logo" width="237" height="30">

    <nav class="menu">
      <a class="menu__link" href="#">Last minute</a>
      <a class="menu__link" href="#">Destinace</a>
      <a class="menu__link" href="#">Časté otázky</a>
    </nav>
  </header>

{{ content | safe }}

  <footer class="footer">
    <p>&copy2025, Staň se kóderkou</p>
  </footer>


  </div><!-- .container -->
</body>
</html>